.fab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 12px;
  background-color: var(--palette-primary-main);
  color: var(--palette-primary-contrast-text);
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--palette-primary-darken-less);
    @media (hover: none) {
      background-color: transparent;
    }
  }

  &:active {
    background-color: var(--palette-primary-darken-more);
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    color: var(--palette-action-disabled);
    background-color: var(--palette-action-disabled-background);
  }
}
