@import 'theme/functions';

@mixin button-color($style) {
  $color: theme-color-value(on-#{$style});
  $background-color: theme-color-value($style);

  color: $color;
  background-color: $background-color;

  &:hover {
    border-color: darken($background-color, 7%);
  }

  &:active {
    background-color: darken($background-color, 7%);
  }
}
