@mixin styled-button($style) {
  color: var(--palette-on-#{$style});
  background-color: var(--palette-#{$style});

  &:hover,
  &:focus {
    background-color: var(--palette-#{$style}-dark);
  }

  &:active {
    background-color: var(--palette-#{$style}-darker);
  }
}
