@import 'src/theme/mixins';
@import './mixins';

.button {
  display: inline-block;
  min-width: 80px;
  min-height: 32px;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;

  @include theme-typography(button);

  &--contained-default {
    @include styled-contained-button(default);
  }

  &--contained-primary {
    @include styled-contained-button(primary);
  }

  &--text-default {
    @include styled-text-button(default);
  }

  &--text-primary {
    @include styled-text-button(primary);
  }

  &--full-width {
    width: 100%;
  }
}
