.button {
  position: relative;
  display: inline-block;
  border: 2px solid transparent;
  min-width: 120px;
  padding: 9px 12px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-on-neutral);
  background-color: var(--color-neutral);
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: var(--color-neutral-dark);
  }

  &:active {
    transform: scale(0.98);
    background-color: var(--color-neutral-dark);
  }

  &:focus:not(:active) {
    outline-color: var(--color-on-neutral);
  }

  &--primary {
    color: var(--color-on-primary);
    background-color: var(--color-primary);

    &:hover {
      border-color: var(--color-primary-dark);
    }

    &:active {
      background-color: var(--color-primary-dark);
    }

    &:focus:not(:active) {
      outline-color: var(--color-neutral);
    }
  }

  &--full-width {
    width: 100%;
  }

  &--disabled {
    pointer-events: none;
    color: var(--color-text-disabled);
    background-color: var(--color-disabled);
  }
}
