@import './mixins';

.button {
  position: relative;
  display: inline-block;
  border: 2px solid transparent;
  min-width: 120px;
  padding: 9px 12px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  font-size: 1rem;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:active {
    transform: scale(0.98);
  }

  &:focus:not(:active) {
    outline-color: #000;
  }

  @include colorize-button('default');

  &--primary {
    &:focus:not(:active) {
      outline-color: theme-palette('divider');
    }

    @include colorize-button('primary');
  }

  &--full-width {
    width: 100%;
  }

  &#{&}--disabled {
    pointer-events: none;
    color: theme-palette('text-disabled');
    background-color: theme-palette('disabled');
  }
}
