# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - WebApi/*
    
pool:
  vmImage: 'windows-2019'

variables:
  buildConfiguration: 'Release'


steps:
- task: DotNetCoreInstaller@0
  inputs:
    version: '3.0.100'
- task: DotNetCoreCLI@3
  displayName: Build
  inputs:
    command: build
    projects: '**/InWords.WebApi/InWords.WebApi.csproj'
    arguments: '--configuration Release' # Update this to match your need

- task: DotNetCoreCLI@3
  inputs:
    command: test
    projects: '**/*Tests/*.csproj'
    arguments: '--configuration $(buildConfiguration) --collect "Code coverage"'
    publishTestResults: true