@import 'theme/functions';

.typography {
  margin: 0;

  &--variant--h1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1;
  }
  &--variant--h2 {
    font-size: 3.75rem;
    font-weight: 300;
    line-height: 1;
  }
  &--variant--h3 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.04;
  }
  &--variant--h4 {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 1.17;
  }
  &--variant--h5 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.33;
  }
  &--variant--h6 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
  }
  &--variant--body1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  &--variant--body2 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
  }

  &--color--primary {
    color: theme-palette-value(primary);
  }
  &--color--secondary {
    color: theme-palette-value(secondary);
  }
  &--color--text-primary {
    color: theme-palette-value(text-primary-on-background);
  }
  &--color--text-secondary {
    color: theme-palette-value(text-secondary-on-background);
  }
}
