@import 'src/theme/mixins';

.typography {
  margin: 0;

  $variants: h1, h2, h3, h4, h5, h6, body1, body2;
  @each $variant in $variants {
    &--variant--#{$variant} {
      @include theme-typography($variant);
    }
  }

  &--color--text-primary {
    color: var(--palette-text-primary);
  }

  &--color--text-secondary {
    color: var(--palette-text-secondary);
  }

  &--color--primary {
    color: var(--palette-primary);
  }

  &--gutter-bottom {
    margin-bottom: 0.35em;
  }
}
