.training-type-card-pairs-info {
  margin-top: 16px;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 12px;
  }

  &__text {
    font-weight: 500;
  }
}

.training-types-toolbar {
  margin-bottom: 16px;
}

.training-types-study-icon {
  margin-right: 12px;
}
