.training-types-toolbar {
  margin-bottom: 16px;
}

.training-types-study-icon {
  margin-right: 12px;
}

.training-types-item-order {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--palette-action-hover);
}
