@import 'src/theme/mixins';

$card-dimension: 120px;

.game-field {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @for $cols from 2 through 4 {
    &--cols-#{$cols} {
      max-width: $card-dimension * $cols + 4 * $cols * 2;
    }
  }
}
