@import 'src/theme/mixins';

$card-dimension: 120px;
$card-dimension-sm: 100px;
$card-spacing: 4px;
$card-spacing-sm: 2px;

.game-field {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @for $cols from 2 through 4 {
    &--cols-#{$cols} {
      max-width: $card-dimension * $cols + $card-spacing * $cols * 2;

      @include theme-breakpoints-down(sm) {
        max-width: $card-dimension-sm * $cols + $card-spacing-sm * $cols * 2;
      }
    }
  }
}

.game-card {
  margin: $card-spacing;
  display: flex;
  align-items: center;
  width: $card-dimension;
  height: $card-dimension;
  cursor: pointer;
  background-color: var(--palette-primary-main);
  @include theme-typography(body1);
  transition: box-shadow 200ms ease-in-out;

  @include theme-breakpoints-down(sm) {
    margin: $card-spacing-sm;
    width: $card-dimension-sm;
    height: $card-dimension-sm;

    @include theme-typography(body2);
  }
}

.game-card-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  border-radius: 2px;
  background-color: var(--palette-background-paper);
}

.game-card-text {
  width: 100%;
  padding: 8px;
  text-align: center;
  line-height: 1.3;
  word-wrap: break-word;
  font-weight: 500;
}
