.icon-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 12px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    @media (hover: none) {
      background-color: transparent;
    }
  }

  &--color--default {
    color: var(--palette-text-secondary);

    &:hover,
    &:focus {
      background-color: var(--palette-action-hover);
    }

    &:active {
      background-color: var(--palette-action-selected);
    }
  }

  &--color--primary {
    color: var(--palette-primary-main);

    &:hover,
    &:focus {
      background-color: var(--palette-primary-transparentize-more);
    }

    &:active {
      background-color: var(--palette-primary-transparentize-less);
    }
  }

  &--color--inherit {
    color: inherit;

    &:hover,
    &:focus {
      background-color: var(--palette-action-hover);
    }

    &:active {
      background-color: var(--palette-action-selected);
    }
  }

  &--edge--start {
    margin-left: -12px;
  }

  &--edge--end {
    margin-right: -12px;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    color: var(--palette-action-disabled);
    background-color: var(--palette-action-disabled-background);
  }
}
