################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApi/InWords.WebApi/InWords.WebApi.plog
/WebApi/InWords.WebApi/PVS-Studio-log.plog
/WebApi/InWords.WebApi/InWords.WebApi/appsettings.Production.json
*.DotSettings.user
