.checkbox {
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: inherit;
  }
}
