.wordlist-item {
  height: 56px;

  &__progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    $period-colors: (
      1: fade-out(#ffd600, 0.92),
      2: fade-out(#aeea00, 0.92),
      3: fade-out(#64dd17, 0.92),
      4: fade-out(#00c853, 0.92),
      5: fade-out(#00bfa5, 0.92)
    );
    @for $period from 1 through 5 {
      &--#{$period} {
        width: calc(100% / 5 * #{$period});
        background-color: map-get($period-colors, $period);
      }
    }
  }

  &__text {
    margin: 0;
  }
}
