@import 'src/theme/mixins';

.profile-main {
  display: flex;

  @include theme-breakpoints-down(md) {
    flex-direction: column;
  }
}

.profile-avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  margin-bottom: 8px;
  width: 180px;
  height: 180px;
  font-size: 3.75rem;
}

.profile-personal-section {
  width: 100%;
  padding-top: 16px;
  padding-left: 64px;

  @include theme-breakpoints-down(sm) {
    padding-left: 32px;
  }

  @include theme-breakpoints-down(md) {
    padding-top: 24px;
  }
}

.profile-personal-info {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.profile-nickname {
  @include theme-breakpoints-down(md) {
    @include theme-typography(h4);
  }
}

.profile-personal-info-entry {
  display: flex;
  margin: 12px 0;
}

.profile-personal-info-entry-icon {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.profile-personal-info-entry-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.profile-personal-info-value {
  width: 50%;

  @include theme-breakpoints-down(sm) {
    width: 100%;
  }
}

.profile-personal-info-value-text {
  width: 50%;

  @include theme-breakpoints-down(md) {
    @include theme-typography(body2);
  }
}

.profile-personal-info-edit-button-container {
  width: 40%;

  @include theme-breakpoints-down(sm) {
    width: 100%;
  }
}

.profile-footer {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
}

.profile-delete-button {
  color: var(--palette-error);
}
