@import 'src/theme/mixins';

.drawer-nav-list {
  padding-top: 16px;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: var(--palette-text-primary);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover,
    &.active {
      color: var(--palette-primary);
    }
  }

  &__general-link {
    padding: 10px 24px;
    @include theme-typography(body1);
    font-weight: 500;
  }

  &__nested {
    width: 100%;
  }

  &__nested-link {
    padding: 4px 24px 4px 40px;
    @include theme-typography(body2);

    &.active {
      font-weight: 500;
    }
  }
}
