@import 'src/theme/mixins';

.dictionary-toolbar-title-block {
  margin-right: auto;
}

.dictionary-toolbar-title-block-main {
  @include theme-breakpoints-down(sm) {
    display: none;
  }
}

.dictionary-toolbar-delete-button {
  color: var(--palette-error);
}

.dictionary-toolbar-done-all-button {
  margin-right: 16px;
}
