.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.4);
  transition-property: opacity;
  transition-timing-function: linear;
}
