@import 'theme/functions';

.sign-in-surface {
  margin-top: 64px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: theme-palette('surface');
}

.sign-in-form {
  width: 100%;
}

.sign-in-form-field {
  margin-top: 24px;
  margin-bottom: 8px;
}

.sign-in-submit {
  margin-top: 16px;
}

.sign-in-links {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}
