@import 'theme/functions';

.text-field {
  position: relative;
}

.text-field__label {
  position: absolute;
  left: 10px;
  top: 13.2px;
  padding: 0 4px;
  color: rgba(0, 0, 0, 0.54);
  font-family: inherit;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.15s ease;

  &--elevated {
    top: -8px;
    font-size: 13px;
    background-color: #fff;
  }

  &--active {
    color: theme-prop-value(primary);
  }

  &--disabled {
    color: transparentize(#9e9e9e, 0.4);
  }
}

.text-field__input {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.34);
  padding: 14px 12px;
  font-family: inherit;
  font-size: 16px;
  transition: border-color 0.15s ease;

  &::-webkit-input-placeholder {
    color: transparent;
  }
  &::-moz-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    color: transparent;
  }
  &::-ms-input-placeholder {
    color: transparent;
  }

  &:hover:not(:disabled) {
    border-color: rgba(0, 0, 0, 0.54);
  }

  &:focus {
    outline: 2px solid theme-prop-value(primary);
    outline-offset: -2px;
    border-color: theme-prop-value(primary);
  }

  &:disabled {
    color: transparentize(#9e9e9e, 0.4);
    background-color: inherit;
  }

  &--full-width {
    width: 100%
  }
}
