.text-field {
  position: relative;
  display: inline-flex;
  font-size: 1rem;

  &--full-width {
    width: 100%;
  }

  &__label {
    position: absolute;
    left: 10px;
    top: 13px;
    max-width: calc(100% - 12px);
    padding: 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--palette-text-hint);
    font: inherit;
    pointer-events: none;
    transform-origin: top left;
    transition: color 0.15s ease, transform 0.15s ease;

    &--compact {
      color: var(--palette-text-secondary);
      background-color: var(--palette-background-paper);
      transform: translate(0, -21px) scale(0.75);
    }

    &--active {
      color: var(--palette-primary);
    }

    &--required {
      &::after {
        content: '*';
        margin-left: 3px;
      }
    }

    &--disabled {
      color: var(--palette-text-disabled);
    }
  }

  &__input {
    display: block;
    border: 1px solid var(--palette-default);
    border-radius: 2px;
    width: 100%;
    padding: 12px;
    font: inherit;
    color: var(--palette-text-primary);
    transition: border-color 0.15s ease;
    -webkit-appearance: none;

    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
    &::-ms-input-placeholder {
      color: transparent;
    }

    &:hover {
      border-color: var(--palette-text-primary);
    }

    &:focus {
      outline: 2px solid var(--palette-primary);
      outline-offset: -2px;
      border-color: var(--palette-primary);
    }

    &:disabled {
      pointer-events: none;
      color: var(--palette-text-disabled);
      border-color: var(--palette-action-disabled);
      background-color: var(--palette-action-disabled-background);
    }
  }
}
