@import 'theme/functions';

.text-field {
  position: relative;
  font-size: 1rem;
}

.text-field__label {
  position: absolute;
  left: 10px;
  top: 15px;
  padding: 0 4px;
  color: theme-palette-value('text-secondary');
  font: inherit;
  pointer-events: none;
  transform-origin: top left;
  transition: all 0.15s ease;

  &--required {
    &::after {
      content: '*';
      margin-left: 3px;
    }
  }

  &--compact {
    transform: translate(0, -21px) scale(0.75);
    background-color: #fff;
  }

  &--active {
    color: theme-palette-value('primary');
  }

  &--disabled {
    color: theme-palette-value('text-disabled');
  }
}

.text-field__input {
  display: block;
  border: 1px solid theme-palette-value('divider');
  border-radius: 0;
  padding: 14px 12px;
  font: inherit;
  color: theme-palette-value('text-primary');
  transition: border-color 0.15s ease;
  -webkit-appearance: none;

  &::-webkit-input-placeholder {
    color: transparent;
  }
  &::-moz-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    color: transparent;
  }
  &::-ms-input-placeholder {
    color: transparent;
  }

  &:hover {
    border-color: theme-palette-value('divider-dark');
  }

  &:focus {
    outline: 2px solid theme-palette-value('primary');
    outline-offset: -2px;
    border-color: theme-palette-value('primary');
  }

  &:disabled {
    pointer-events: none;
    color: theme-palette-value('text-disabled');
    border-color: theme-palette-value('disabled');
    background-color: theme-palette-value('disabled');
  }

  &--full-width {
    width: 100%;
  }
}
