.text-field {
  position: relative;
  font-size: 1rem;

  &--disabled {
    .text-field__label {
      color: var(--color-text-disabled);
    }

    .text-field__input {
      pointer-events: none;
      color: var(--color-text-disabled);
      border-color: var(--color-disabled);
      background-color: var(--color-disabled);
    }
  }

  &--required .text-field__label {
    &::after {
      content: '*';
      margin-left: 3px;
    }
  }

  &--compact .text-field__label {
    transform: translate(0, -21px) scale(0.75);
    background-color: #fff;
  }

  &--active .text-field__label {
    color: var(--color-primary);
  }
}

.text-field__label {
  position: absolute;
  left: 10px;
  top: 15px;
  padding: 0 4px;
  color: var(--color-text-secondary);
  font: inherit;
  pointer-events: none;
  transform-origin: top left;
  transition: all 0.15s ease;
}

.text-field__input {
  display: block;
  border: 1px solid var(--color-divider);
  border-radius: 0;
  padding: 14px 12px;
  font: inherit;
  color: var(--color-text-primary);
  transition: border-color 0.15s ease;
  -webkit-appearance: none;

  &::-webkit-input-placeholder {
    color: transparent;
  }
  &::-moz-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    color: transparent;
  }
  &::-ms-input-placeholder {
    color: transparent;
  }

  &:hover {
    border-color: var(--color-divider-dark);
  }

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: -2px;
    border-color: var(--color-primary);
  }

  &--full-width {
    width: 100%;
  }
}
