.parallax-bubbles {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

$number-of-pixels-horizontally: 3840;
$number-of-pixels-vertically: 2160;

@function multiple-box-shadow($n) {
  $value: '#{random($number-of-pixels-horizontally)}px #{random($number-of-pixels-vertically)}px #fff';
  @for $i from 2 through $n {
    $value: '#{$value}, #{random($number-of-pixels-horizontally)}px #{random($number-of-pixels-vertically)}px #fff';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(90);
$shadows-medium: multiple-box-shadow(30);
$shadows-big: multiple-box-shadow(10);

@keyframes anim-bubble {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-#{$number-of-pixels-vertically}px);
  }
}

$bubbles: 1 4px $shadows-small 50s, 2 8px $shadows-medium 100s,
  3 12px $shadows-big 150s;
@each $number, $dimension, $box-shadow, $duration in $bubbles {
  .parallax-bubbles__#{$number} {
    width: $dimension;
    height: $dimension;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: $box-shadow;
    animation: anim-bubble #{$duration} linear infinite;

    &::after {
      content: ' ';
      position: absolute;
      top: #{$number-of-pixels-vertically}px;
      width: $dimension;
      height: $dimension;
      border-radius: 50%;
      background-color: transparent;
      box-shadow: $box-shadow;
    }
  }
}
