@import 'src/theme/mixins';

.toolbar {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  @include theme-breakpoints-down(sm) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &--variant--regular {
    min-height: 64px;

    @include theme-breakpoints-down(sm) {
      min-height: 56px;
    }
  }

  &--variant--dense {
    min-height: 48px;
  }
}
