.popup {
  position: absolute;
  z-index: 1;
  transition: visibility 0.1s linear, opacity 0.1s linear,
    transform 0.1s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: translateY(8px);

  &--side--left {
    left: 0;
  }

  &--side--right {
    right: 0;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
