.popup {
  position: absolute;
  transition: transform 100ms ease-in-out, visibility 100ms linear;
  visibility: hidden;
  transform: translateY(8px);

  &--side--left {
    left: 0;
  }

  &--side--right {
    right: 0;
  }

  &--visible {
    visibility: visible;
    transform: translateY(0);
  }
}
