# Android
# Build your Android project with Gradle.
# Add steps that test, sign, and distribute the APK, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/android

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - Android/*

pool:
  vmImage: 'macOS-10.14'

steps:
- task: DownloadSecureFile@1
  inputs:
    secureFile: 'google-services.json'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    Contents: 'google-services.json'
    TargetFolder: 'Android/app/'

- task: Gradle@2
  inputs:
    workingDirectory: 'Android/'
    gradleWrapperFile: 'Android/gradlew'
    tasks: 'test'
    publishJUnitResults: true
    testResultsFiles: '**/testReleaseUnitTest/TEST-*.xml'
    testRunTitle: 'Run JUnit5 tests'
    javaHomeOption: 'JDKVersion'
    gradleOptions: '-Xmx3072m'
    sonarQubeRunAnalysis: false
    
- task: Gradle@2
  inputs:
    workingDirectory: 'Android/'
    gradleWrapperFile: 'Android/gradlew'
    gradleOptions: '-Xmx3072m'
    tasks: 'assembleDebug'