@import 'src/theme/mixins';

.header {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  z-index: var(--z-index-app-bar);
  width: 100%;
  background-color: var(--palette-primary-main);
  color: var(--palette-primary-contrast-text);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: var(--depth-shadow-16);
  }

  &__toolbar {
    display: flex;
    align-items: center;
    padding: 0 24px;
  }

  &__toolbar-block {
    display: flex;
    align-items: center;
    height: 64px;
  }

  &__profile {
    margin-left: 32px;
  }

  &__nav {
    display: flex;
    overflow: hidden;
    height: 64px;

    @include theme-breakpoints-down(lg) {
      display: none;
    }
  }

  &__nav-menu-button {
    margin-right: 16px;

    @include theme-breakpoints-up(lg) {
      display: none;
    }
  }
}
