html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html * {
  font-family: 'Roboto', sans-serif;
}

body {
  background: radial-gradient(
      ellipse at bottom,
      var(--palette-background-paper) 0%,
      var(--palette-background-default) 100%
    )
    fixed;
}

@supports (-webkit-overflow-scrolling: touch) {
  body {
    cursor: pointer;
  }
}
