@import './variables';

@mixin core-styles {
  :root {
    @each $style in map-keys($theme-palette-values) {
      --palette-#{$style}: #{map-get($theme-palette-values, $style)};
    }

    @each $style in map-keys($theme-breakpoints-values) {
      --breakpoints-#{$style}: #{map-get($theme-breakpoints-values, $style)};
    }

    @each $style in map-keys($theme-depth-shadow-values) {
      --depth-shadow-#{$style}: #{map-get($theme-depth-shadow-values, $style)};
    }

    @each $style in map-keys($theme-z-index-values) {
      --z-index-#{$style}: #{map-get($theme-z-index-values, $style)};
    }
  }
}

@mixin theme-breakpoints-down($size) {
  @if $size == xs {
    @media only screen and (max-width: 444) {
      @content;
    }
  } @else {
    @media only screen and (max-width: map-get($theme-breakpoints-values, $size)) {
      @content;
    }
  }
}

@mixin theme-breakpoints-up($size) {
  @media only screen and (min-width: map-get($theme-breakpoints-values, $size)) {
    @content;
  }
}

@mixin theme-typography($variant) {
  $variant-values: map-get($theme-typography-values, $variant);

  font-weight: map-get($variant-values, font-weight);
  font-size: map-get($variant-values, font-size);
  line-height: map-get($variant-values, line-height);
  letter-spacing: map-get($variant-values, letter-spacing);
}
