$theme-color-values: (
  primary: #673ab7,
  secondary: #bdbdbd,
  error: #b00020,
  surface: #fff,
  on-default: #000,
  on-primary: #fff,
  on-secondary: #000,
  on-error: #fff,
  primary-on-background: rgba(0, 0, 0, 0.67),
  secondary-on-background: rgba(0, 0, 0, 0.34),
  hint-on-background: rgba(0, 0, 0, 0.18),
  disabled-on-background: rgba(0, 0, 0, 0.18),
  text-primary-on-background: rgba(0, 0, 0, 0.87),
  text-secondary-on-background: rgba(0, 0, 0, 0.54),
  text-hint-on-background: rgba(0, 0, 0, 0.38),
  text-disabled-on-background: rgba(0, 0, 0, 0.38)
);
