$theme-property-values: (
  default: #bcbcbc,
  on-default: #000,
  primary: #7b1fa2,
  on-primary: #fff,
  secondary: #ff9800,
  on-secondary: #000,
  background: #fff,
  surface: #fff,
  shadow: rgba(0, 0, 0, 0.2)
);
