@import './typography';
@import './functions';

html {
  box-sizing: border-box;

  & * {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }
}

* {
  box-sizing: inherit;
}

body {
  background-color: theme-palette-value(background);
}
