@import './mixins';

@include core-styles;

html {
  box-sizing: border-box;
}

html * {
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--palette-background-default);
}
