@import 'src/theme/mixins';

.profile {
  display: flex;

  @include theme-breakpoints-down(md) {
    flex-direction: column;
  }

  &__picture-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__picture {
    margin-bottom: 8px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__personal-section {
    width: 100%;
    padding-top: 16px;
    padding-left: 64px;

    @include theme-breakpoints-down(sm) {
      padding-left: 32px;
    }

    @include theme-breakpoints-down(md) {
      padding-top: 24px;
    }
  }

  &__personal-info {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  &__nickname {
    @include theme-breakpoints-down(md) {
      @include theme-typography(h4);
    }
  }

  &__personal-info-entry {
    display: flex;
    margin: 12px 0;
  }

  &__personal-info-entry-icon {
    margin-right: 16px;
    display: flex;
    align-items: center;
  }

  &__personal-info-entry-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__personal-info-value {
    width: 50%;

    @include theme-breakpoints-down(sm) {
      width: 100%;
    }
  }

  &__personal-info-value-text {
    width: 50%;

    @include theme-breakpoints-down(md) {
      @include theme-typography(body2);
    }
  }

  &__personal-edit-links {
    width: 40%;

    @include theme-breakpoints-down(sm) {
      width: 100%;
    }
  }
}
