.iw-brand-link {
  display: flex;
  align-items: center;

  min-height: 64px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.00938em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
