@import 'theme/mixins';

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  &--max-width--xs {
    @include theme-breakpoints-up(xs) {
      max-width: 444px;
    }
  }
  &--max-width--sm {
    @include theme-breakpoints-up(sm) {
      max-width: theme-breakpoints-value(sm);
    }
  }
  &--max-width--md {
    @include theme-breakpoints-up(md) {
      max-width: theme-breakpoints-value(md);
    }
  }
  &--max-width--lg {
    @include theme-breakpoints-up(lg) {
      max-width: theme-breakpoints-value(lg);
    }
  }
  &--max-width--xl {
    @include theme-breakpoints-up(xl) {
      max-width: theme-breakpoints-value(xl);
    }
  }
}
