.content {
    font-family: 'Roboto', sans-serif;
    max-width: 960px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 1em 0;
}

p {
    margin: 16px 0;
}

ul {
    margin: 16px 0;
    padding: 0 32px;
}

li {
    margin: 8px 0;
}
