.drawer {
  position: fixed;
  top: 0;
  right: auto;
  left: 0;
  height: 100%;
  z-index: var(--z-index-drawer);
  overflow-y: auto;
  width: 240px;
  border-right: 1px solid var(--palette-divider);
  background-color: var(--palette-background-paper);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
