.button-base {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  padding: 9px 12px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  text-decoration: none;
  line-height: 1;
  font-size: 1rem;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:active {
    transform: scale(0.98);
  }

  &--disabled {
    pointer-events: none;
    color: var(--color-text-disabled);
    background-color: var(--color-disabled);
  }
}
