@import 'src/theme/mixins';

.linear-button {
  display: inline-flex;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  user-select: none;
  color: var(--palette-primary);
  transition: color 0.2s ease-in-out;

  @include theme-typography(body2);

  &:hover,
  &:active {
    color: var(--palette-default);
  }
}
