@import 'src/theme/mixins';

.game-card {
  position: relative;
  margin: 4px;
  display: flex;
  align-items: center;
  border-radius: 0;
  cursor: pointer;
  background-color: var(--palette-primary);
  transition: box-shadow var(--transition-duration-short)
    var(--transition-easing-ease-in-out);

  @include theme-typography(body1);
}

.game-card-content {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--palette-background-paper);
}

.game-card-text {
  width: 100%;
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
  font-weight: 500;
}
