@import 'src/theme/mixins';

.training-card {
  display: inline-block;
  background-color: var(--palette-primary);
  transition: box-shadow var(--transition-duration-short)
    var(--transition-easing-ease-in-out);

  @include theme-typography(body1);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color var(--transition-duration-shortest)
      var(--transition-easing-ease-in-out);
  }

  &:hover::after,
  &.focus-visible::after {
    background-color: var(--palette-action-hover);
  }

  &:active::after {
    background-color: var(--palette-action-selected);
  }
}

.training-card-content-container {
  height: 100%;
  width: 100%;
}

.training-card-content {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--palette-background-paper);
  transition: background-color var(--transition-duration-shortest)
    var(--transition-easing-ease-in-out);

  &--color--success {
    background-color: var(--palette-success-light);
  }
  &--color--error {
    background-color: var(--palette-error-light);
  }
}

.training-card-text {
  width: 100%;
  padding: 8px;
  word-wrap: break-word;
  font-weight: 500;
}
