.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;

  $sizes: xs, sm, md, lg, xl;

  @each $size in $sizes {
    &--#{$size} {
      @if $size == xs {
        max-width: 444px;
      } @else {
        max-width: var(--breakpoints-#{$size});
      }
    }
  }
}
