@keyframes circularDash {
  0% {
    stroke-dasharray: 1 200;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 100 200;
    stroke-dashoffset: -125;
  }
}

@keyframes circularRotate {
  100% {
    transform: rotate(360deg);
  }
}

.circular-progress {
  width: 40px;
  height: 40px;
  animation: circularRotate 1.4s linear infinite;

  &__svg {
    animation: circularDash 1.4s var(--transition-easing-ease-in-out) infinite;
  }

  &__circle {
    stroke: var(--palette-primary);
  }
}
