.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 16px;
  box-shadow: inset 0 -1px 0 0 var(--palette-divider-light);

  &--secondary-action {
    padding-right: 56px;
  }

  &--button {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    transition: background-color var(--transition-duration-shortest)
      var(--transition-easing-ease-in-out);

    &:hover,
    &.focus-visible {
      background-color: var(--palette-action-hover);
    }

    &:active {
      background-color: var(--palette-action-selected);
    }

    &:disabled {
      cursor: default;
      pointer-events: none;
    }
  }
}
