.card-header {
  display: flex;
  align-items: center;
  padding: 8px 16px;

  &__content {
    flex: 1 1 auto;
  }

  &__action {
    flex: 0 0 auto;
    align-self: flex-start;
    margin-right: -8px;
  }
}
