.privacy {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.privacy h1,
.privacy h2,
.privacy h3,
.privacy p,
.privacy ul {
  margin: 1em 0;
}

.privacy h1 {
  font-size: 2.125rem;
}

.privacy h2 {
  font-size: 1.5rem;
}

.privacy h3 {
  font-size: 1.25rem;
}

.privacy li {
  margin: 0.5em 0;
}
