body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
ul {
  margin: 1em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

ul {
  padding-left: 2em;
}

li {
  margin: 0.5em 0;
}

.content {
  max-width: 960px;
  margin: auto;
}
