@import 'src/theme/mixins';

.header-nav-list {
  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;

  &__item {
    margin: 0 16px;
    display: flex;

    @include theme-breakpoints-down(lg) {
      margin: 0 1vw;
    }
  }

  &__link {
    padding: 0 14px;
    font-size: 1rem;
    color: inherit;
    outline: 0;
    transition: background-color var(--transition-duration-shortest)
      var(--transition-easing-ease-in-out);

    &:hover,
    &.focus-visible {
      background-color: var(--palette-action-hover);
    }

    &:active {
      background-color: var(--palette-action-selected);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 14px;
      right: 14px;
      height: 3px;
      background-color: var(--palette-primary-contrast-text);
      transform: scaleY(0);
      transition: transform var(--transition-duration-shorter)
        var(--transition-easing-ease-in-out);
    }

    &.active::after {
      transform: scaleY(1);
    }
  }
}
