.text-field {
  position: relative;
  display: inline-flex;
  padding-top: 6px;

  &--full-width {
    width: 100%;
  }

  &__label {
    position: absolute;
    left: 10px;
    top: 19px;
    max-width: calc(100% - 12px);
    padding: 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--palette-text-hint);
    font-size: 1rem;
    pointer-events: none;
    transform-origin: top left;
    transition: transform 0.15s ease;

    &--compact {
      color: var(--palette-text-secondary);
      background-color: var(--palette-background-paper);
      transform: translateY(-19px) scale(0.75);
    }

    &--active {
      color: var(--palette-primary);
    }

    &--required {
      &::after {
        content: '*';
        margin-left: 3px;
      }
    }

    &--disabled {
      color: var(--palette-text-disabled);
    }
  }

  &__input {
    &::-webkit-input-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &::-ms-input-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}
