.header-nav-list {
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  color: var(--palette-primary-contrast-text);

  &:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  &--active {
    color: rgba(255, 255, 255, 0.6);
  }

  &__item {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-size: 1rem;
    height: 100%;
    text-decoration: none;
    color: inherit;
    transition: color 0.1s var(--transition-ease-in-out);

    &.active {
      color: var(--palette-primary-contrast-text);

      &::after {
        transform: scaleY(1);
      }
    }

    &:hover {
      color: var(--palette-primary-contrast-text);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 14px;
      right: 14px;
      height: 4px;
      background-color: var(--palette-primary-contrast-text);
      transform: scaleY(0);
      transition: transform 235ms var(--transition-ease-in-out);
    }
  }
}
