@import 'src/theme/mixins';

.grid-item {
  $sizes: xs, sm, md, lg, xl;

  @each $size in $sizes {
    @for $col from 1 through 12 {
      &--#{$size}--#{$col} {
        @include theme-breakpoints-up($size) {
          flex-basis: percentage($col / 12);
          flex-grow: 0;
        }
      }
    }
  }
}
