.icon-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50%;
  outline: 0;
  padding: 12px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--palette-action-hover);
    @media (hover: none) {
      background-color: transparent;
    }
  }

  &:active {
    background-color: var(--palette-action-selected);
  }

  &--color--default {
    color: var(--palette-text-secondary);
  }

  &--color--primary {
    color: var(--palette-primary);
  }

  &--color--inherit {
    color: inherit;
  }

  &--edge--start {
    margin-left: -12px;
  }

  &--edge--end {
    margin-right: -12px;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    color: var(--palette-action-disabled);
    background-color: var(--palette-action-disabled-background);
  }
}
