@import 'src/theme/mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-app-bar);
  background-color: var(--palette-primary);
  color: var(--palette-primary-contrast-text);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: var(--depth-shadow-16);
  }

  &__toolbar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    min-height: 72px;
    padding-left: 24px;
    padding-right: 24px;

    @include theme-breakpoints-down(md) {
      min-height: 56px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__left-nodes {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
  }

  &__right-nodes {
    align-self: center;
    justify-self: end;
  }

  &__nav-menu-button {
    margin-right: 16px;

    @include theme-breakpoints-up(md) {
      display: none;
    }
  }
}
