@import 'theme/functions';
@import 'theme/mixins';

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  display: block;
  overflow: auto;
  transform: translateX(-100%);
  transition: all 0.2s ease-in-out;
  background-color: var(--color-surface);

  &--expanded {
    transform: translateX(0);
  }
}

.ui-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  display: block;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s, opacity 0.2s linear;

  &--visible {
    visibility: visible;
    opacity: 1;
  }
}
