@import 'theme/functions';
@import 'theme/mixins';

.drawer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  transform: translateY(-100%);
  max-height: 240px;
  display: block;
  overflow: auto;
  transition: all 0.2s ease-in-out;

  &--expanded {
    transform: translateY(0);
  }
}

.ui-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s, opacity 0.2s linear;

  &--visible {
    visibility: visible;
    opacity: 1;
  }
}
