* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.topbar {
    padding: 16px;
    background: #6200ea;
    color: white;
    margin: 16px 0;
}

.container {
    width: 480px;
    margin: auto;
    padding: 16px;
}

h1 {
    text-align: center;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 16px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f5f5f5;
}

input[type=email]:focus, input[type=password]:focus {
    background-color: #eeeeee;
    outline: none;
}

.registerbtn {
    background-color: #6200ea;
    color: white;
    padding: 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.signin {
    text-align: center;
}

a {
    color: dodgerblue;
}