@import 'src/theme/mixins';

.breadcrumbs-link {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 2px;
  color: var(--palette-text-primary);
  text-decoration: none;
  outline: 0;
  transition: background-color 0.2s ease-in-out;

  @include theme-typography(body1);

  &:hover,
  &:focus {
    background-color: var(--palette-action-hover);
    text-decoration: none;
  }

  &:active {
    background-color: var(--palette-action-selected);
  }
}
