.training-result {
  margin: -8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.training-result-paper {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  padding: 16px;
}

.training-result-smiley {
  margin-bottom: 8px;
}

.training-result-stars:not(:last-child) {
  margin-bottom: 8px;
}
