.link-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  line-height: 1;

  &--disabled {
    cursor: default;
    pointer-events: none;
    color: var(--palette-action-disabled);
    background-color: var(--palette-action-disabled-background);
  }

  &__text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 3px 0 -1px currentColor;
  }
}
